extends admin

block context-menu
  div /new - paging
  
block console
  table
    tr
      th id
      th created
      th name
      th description
    if rows
      each row in rows
        tr
          td= row.id
          td= row.dtcreated
          td= row.name
          td= row.description
