extends layout

block content
  // HOME PAGE VIDEO
  div(class="video-container")
    div(class="filter")
      video(autoplay loop class="fillWidth")
        source(src="/video/MP4/Busy.mp4" type="video/mp4")
        source(src="/video/WEBM/Busy.webm" type="video/webm")
        source(src="/video/OGV/Busy.ogv" type="video/ogv")
    div(class="poster hidden")
      img(src="/video/Snapshots/Busy.jpg" alt="")
  h3(id="videoHeadlineTop") You're the hunter...
  img(id="videoHeadlineLogomark" src="images/cloaklogo.svg") 
  h3(id="videoHeadlineBottom")  and the hunted.
  //- div(id="rule")
  hr(id="rule")
  h2(id="videoHeadlineLogo" class="cloakandtagger") Cloak & Tagger
  if rows
    each row in rows
      div(class="gameDiv")
        a(href="/join/"+row.id)
          img(class="gameimage" src=row.imageurl)
          h3(class="gameCityCaption")= row.title
          h6(class="gameDateCaption")= row.dtstart
