doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display+SC' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/materialize.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
  body
    div(class="hiddeninfo")
      if user
        input(type="hidden" id="userid" value="#{user.id}")
      else
        input(type="hidden" id="userid" value="0")
        
      input(type="hidden" id="userlocale" value="")
      input(type="hidden" id="targetlocale" value="")
  
  

    //- do some logging to debug
    //- if user
    //-   p= user
      
    header(id="siteSection" class="#{siteSection}")
      //- h2 Cloak and Tagger 
      div(class="navbar-fixed")
        nav 
          a(href="/" class="left brand-logo cloakandtagger" id="logo") Cloak & Tagger
          a(href="#" data-activates="slide-out" class="right button-collapse show-on-large")
            i(class="left material-icons") menu
          ul(id="slide-out" class="side-nav right")
            div(id='menu-list')
            li
              //- a(id="modalTest" href="") Modal Test
              a(href="#" data-activates="slide-out" class="right button-collapse")
                //- i(class="material-icons") clear
            if user
              li
                a(href="/users/signout") signout
              hr
              li
                a(href="/testgameplay") Hunt
              li
                a(href="/join") Join
              //- li
              //-   a(href="/signout") Host
            if !user
              li
                a(href="/users/signin") Sign In
                a(href="/users/signup") Sign Up  
                a(href="/users/auth0") Auth0  
            li
              a(href="/") About
            li
              a(href="/") Rules
            if user
              if user.roles && user.roles.indexOf('admin') !== -1
                li
                  a(href="/admin") admin
  
    //- DANGER MODAL
    //- a(class="waves-effect waves-light btn modal-trigger" href="#modal1") Modal

    div(id="modal1" class="modal")
      div(class="modal-content")
        h4 DANGER!
        p Someone is hunting you and they are very close. Close your Cloak&Tagger app to hide your location and get to safety immediately!
      div(class="modal-footer")
        a(href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat") I Understand
        
    div(id="eliminated" class="modal")
      div(class="modal-content")
        h4 GAME OVER!
        p You have been tagged and eliminated from the game. Thank you for your valiant efforts. Better luck next time.
      div(class="modal-footer")
        a(href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat") I Understand
    
    
        
    //-   div(id="pageContent")
    block content
  
    
    
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="/javascripts/maps.js")  
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATUYe1ncrFm2KKHbZX12ky-NRaVnBraMI&callback=initMap" async defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
    
    
      
    script(src="https://cdn.auth0.com/js/lock-9.1.js")
    script(src="/javascripts/client.js")
