doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    
    link(rel='stylesheet', href='/stylesheets/robstyle.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    div(class="hiddeninfo")
      if user
        input(type="hidden" id="userid" value="#{user.id}")
      else
        input(type="hidden" id="userid" value="0")
        
      input(type="hidden" id="userlocale" value="")
      input(type="hidden" id="targetlocale" value="")
  
    //- do some logging to debug
    //- if user
    //-   p= user
      
    div(id="siteSection" class="#{siteSection} container")
      nav 
        h1 Cloak and Tagger  
        div(class="links")
          a(href="/") home
          if user
            a(href="/maps") maps
            a(href="/photos") photos
          if !user
            a(href="/users/signin") signin
            a(href="/users/signup") signup
          if user
            a(href="/users/signout") signout
            if user && user.roles && user.roles.indexOf('admin') !== -1
              a(href="/games") games
              a(href="/admin") admin
    
      div(id="pageContent")
        block content
  
    
    
    //- script(src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous")
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
    
    
    //- if siteSection == 'maps'
    script(src="/javascripts/maps.js")  
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATUYe1ncrFm2KKHbZX12ky-NRaVnBraMI&callback=initMap" async defer)
      
    script(src="/javascripts/client.js")
