div(id="targetContainer")
  img(src='../../images/bjh50.png' class="targetImage")
ul
  li Target Name: {alias}
  li Age: {age}
  li Height: {height}
  li Hair Color: {hair}
  li Description: {bio}
      
