img(src='../../images/boulder.jpg')
ul
  li Game Location: {title}
  li Start Date: {dtstart}
  li Number of players: {}
  li Players left: {}
//- img(src=game.imageurl)
//- ul
//-   li Game Location: #{game.title}
//-   li Start Date: #{game.dtstart}
//-   li Number of players: {}
//-     
//- a(class="waves-effect waves-light btn") Join
