img {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: -6px;
}

img#user-upload {
  height: 300px;
  width: auto;
}

img#tag-upload {
  height: 300px;
  width: auto;
}

#targetContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.targetImage {
  max-width: 500px;
  max-height: 500px;
}
