extends ../layout

block content
  // TODO: 
  main
    div(id="huntNav" class="row")
      div(class="col s12")
        ul(class="tabs")
          li(id="hunt" class="tab col s3")
            a(class="active" href="#") Hunt
          li(id="dossier" class="tab col s3")
            a(href="#") Dossier
          li(id="game" class="tab col s3")
            a(href="#") Game
    div(id="gameplayContent")
      div TEST
  a(href="/photos/tagphoto")        
    footer(class="page-footer")
      div(class="container")
        div(class="row")
          div(class="col l6 s12")
            h3(id="tag" class="white-text") TAG
