extends ../layout

block content

  h5(style="text-align:center;") Redirecting for Authorization...

  body
    script(src='https://cdn.auth0.com/js/lock-9.1.min.js')
    script(type='text/javascript').
      var lock = new Auth0Lock('GQYyzhNN70BQvNQrgaBSherDLANesAYV', 'samcate.auth0.com');
      lock.show({
      callbackURL: 'http://localhost:3000/callback'
      , responseType: 'code'
      , authParams: {
      scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes
      }
      });
    //- button(onclick='window.signin();') Login
