extends ../layout

block content
  h4 Signin
  
  
  script(src='https://cdn.auth0.com/js/lock-9.1.min.js')
  script(type='text/javascript').
    var lock = new Auth0Lock('GQYyzhNN70BQvNQrgaBSherDLANesAYV', 'samcate.auth0.com');
    lock.show({
      icon: 'http://simpleicon.com/wp-content/uploads/tag-2.png'
      , callbackURL: 'http://localhost:3000'
    , responseType: 'code'
    , authParams: {
    scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes
    }
    });
    
