extends ../layout

block content
  img(src='../../images/boulder.jpg')
  ul
    li Game Location: {title}
    li Start Date: {dtstart}
    li Number of players: {}
    li Players left: {}
      
  a(class="waves-effect waves-light btn") Join
