extends ../layout

block content
  if rows
    each row in rows
      div(class="gameDiv")
        a(href="/join/"+row.title)
          img(class="gameimage" src='../../images/'+row.title+'.jpg')
          h3(class="gameCityCaption")= row.title
      
